{
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "arrowParens": "always",
    "semi": true,
    "endOfLine": "lf",
    "quoteProps": "consistent",
    "jsxSingleQuote": true
}
